.test{
    width: 100%;
    height: 100px;
    background: green;
}

.color1{
    background: red;
    height: 150px;
}

.color2{
    background: black;
    height: 150px;
}

.color3{
    background: green;
    height: 150px;
}

.color4{
    background: blue;
    height: 150px;
}

.color5{
    background: yellow;
    height: 150px;
}

.color6{
    background: grey;
    height: 150px;
}

.own{
    height:400px;
}

.red{
    background: red;
}

.change-background{
    background-color: white !important;
}

.border-r{
    border-radius: 50%;
}

.nav-back{
    background-color: red !important;
    color: green !important;
}